eureka:
    client:
      serviceUrl:
        defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
spring:
  application:
    name: config-server
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: https://github.com/victZeroPerriero/ms-config-properties
          search-paths:
            - "/{application}/{profile}"

server:
  port: 8888
